---
import astroLogo from '../assets/astro.svg';
import charityLogo from '../assets/charity.svg';
---

<header class="bg-white border-b border-gray-200">
	<nav class="container mx-auto px-4 sm:px-6 lg:px-8">
		<div class="flex items-center space-x-4">
			<img src={charityLogo.src} alt="Charity Logo" width="50" height="30" class="py-2"/>
		</div>
	</nav>
</header>