---
import { db, Pledge, eq } from 'astro:db';
const { pledgeId } = Astro.props;
const result = await db.select().from(Pledge).where(eq(Pledge.id, pledgeId));
const pledge = result[0] || { signees: 0, target: 1200 };
---
<div class="flex flex-col">
  <div class="w-full max-w-sm bg-gray-200 rounded-full h-6 mb-2 relative">
    <div 
      class="bg-primary-500 h-6 rounded-full transition-all duration-500"
      style={`width: ${pledge.signees / pledge.target * 100}%;`}
      aria-valuenow={pledge.signees}
      aria-valuemax={pledge.target}
      aria-valuemin="0"
      role="progressbar"
    ></div>
  </div>
  <div class="text-4xl font-bold text-primary-600 mb-1">{pledge.signees}</div>
  <div class="text-gray-600">Help us get to {pledge.target}</div>
</div>